*{
    margin-top: 0;
    margin-left: 0;
}

.contentLatLog{
    width: 50px;
    height: calc(100vh - 74px);
    padding: 0px 10px;
    background-color: #FFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.566);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 74px;
    z-index: 1;
}
.contentLatLog .material-icons-outlined{
    font-size: 50px;
    padding: 10px 0px;
    color: #070149;    
    user-select: none;
}

.contentLatLog .material-icons{
    font-size: 50px;
    padding: 10px 0px;
    color: #070149;    
    user-select: none;
}



@media (max-width: 450px) {
    
    .contentLatLog {
        width: 100%;
        height: 75px;
        padding: 0px;
        background-color: #FFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.566);
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        top: calc(100% - 75px);
        bottom: 0;
        z-index: 1;
    }
    
    .contentLatLog .material-icons-outlined {
        font-size: 50px;
        padding: 10px 0px;
        color: #070149;
        user-select: none;
        margin: 0 20px;
    }
    
    .contentLatLog .material-icons {
        font-size: 50px;
        padding: 10px 0px;
        color: #070149;
        user-select: none;
        margin: 0 20px;
    }

    .contentLatLog .iconeMobile{
        display: none;
    }

    .contentLatLog .icone{
        display: block;
    }
}