.Home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home .contentMap {
    width: calc(100% - 70px);
    height: calc(100vh - 75px);
    margin-top: 74px;
    margin-left: 70px;
}

.containerStyle {
    width: 100%;
    height: 100%;
}

.Home .contentMap .containerStyle .marcador{
    width: 50px;
}

@media (max-width: 450px) {

    .Home .contentMap {
        width: 100vw;
        height: calc(100vh - 140px);
        margin-top: 62px;
        margin-left: 0;
    }

}