.HomeLog{
    display: flex;
    flex-direction: column;
}

.HomeLog .contentMapLog{
    width: calc(100% - 70px);
    height: calc(100vh - 75px);
    margin-top: 74px;
    margin-left: 70px;
}

.containerStyleLog {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (max-width: 450px) {

    .HomeLog .contentMapLog{
        width: 100%;
        height: calc(100vh - 74px);
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 74px;
    }

}