.SugerirTudoLog{
    display: flex;
    flex-direction: column;
}

.SugerirLog {
    width: calc(100% - 70px);
    height: calc(100% - 75);
    margin-left: 70px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #070149;
}

.SugerirLog .contentSugerirLog{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;  
}

.SugerirLog .contentSugerirLog .direcaoLog{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SugerirLog .contentSugerirLog .cadeadoImgLog {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SugerirLog .contentSugerirLog .cadeadoImgLog .texto {
    width: 400px;
    margin: 10px;
    font-size: 26px;
    text-align: center;
}

.SugerirLog .contentSugerirLog .botoesLog {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 450px) {
    
    .SugerirLog {
        width: 100%;
        height: calc(100vh - 40px);
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: centar;
        align-items: center;
        color: #070149;
    }
    
    .SugerirLog .contentSugerirLog{
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column; 
    }

    .SugerirLog .contentSugerirLog h1{
         padding-top: 8px;
    }
    
    .SugerirLog .contentSugerirLog .direcaoLog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    
    .SugerirLog .contentSugerirLog .cadeadoImgLog {
        width: 90%;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .SugerirLog .contentSugerirLog .cadeadoImgLog img{
        width: 90%;
    }
    
    .SugerirLog .contentSugerirLog .cadeadoImgLog .texto {
        width: 400px;
        margin: 10px;
        font-size: 16px;
        text-align: center;
    }
    
    .SugerirLog .contentSugerirLog .botoesLog {
        margin: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}