.Musica{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentMusicas{
    width: calc(100% - 70px);
    height: calc(100% - 75px);
    margin-top: 75px;
    margin-left: 70px;
}

.contentMusicas h1{
    color: #070149;
    margin: 20px;
    
}

 .contentMusicas .contentFeed{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #070149;
}



.cardMusica{
    width: 96%;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardMusica .cardInfo {
    display: flex;
    align-items: center;
}

.cardMusica .cardimage{
    width: 90px;
    height: 90px;
    margin: 20px;
    border-radius: 50px;
    background-color: #070149;
}

.cardMusica .cardLocation{
    display: flex;
    align-items: center;
    margin: 0;
}

.cardMusica #seta{
    font-size: 40px;
    background-color: #FF9D43;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}


@media (max-width: 450px) {
    
    .contentMusicas{
        width: 100vw;
        height: calc(100vh - 75px);
        margin-top: 64px;
        margin-left: 0px;
    }

    .contentMusicas h1{
        padding: 8px 20px;
        color: #070149;
    }
    
     .contentMusicas .contentFeed{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding-bottom: 100px;
    }
    
    
    
    .cardMusica{
        width: 90%;
        height: auto;
        margin: 10px;
        margin-bottom: 20px;
        padding: 10px;
        box-shadow: 5px 5px 30px black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #070149;
    }
    
    .cardMusica .cardInfo {
        display: flex;
        font-size: 10px;
        font-weight: lighter;
    }
    
    .cardMusica .cardimage{
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 50px;
        background-color: #070149;
    }
    
    .cardMusica .cardLocation{
        font-size: 10px;
        display: flex;
        align-items: center;
        margin: 0;
    }
    
    .cardMusica #seta{
        font-size: 30px;
        background-color: #FF9D43;
        border-radius: 20px;
        color: white;
        border: none;
    }
}